# Python
venv/
__pycache__/
*.pyc
.env
*.log

# Node
node_modules/
dist/
.env.local

# Project Specific
piper/piper
piper/piper_phonemize
piper/lib*
piper/espeak-ng*
piper/pkgconfig/
*.tar.gz
scratch/

# IDE
.vscode/
.idea/
.DS_Store

.cache/
.gemini/
.gemini_agent/
.local/
.dbclient/
.psql_history
.terminfo/
.cache/*
.npm-cache
.npm/_cacache*
.gemini*
.copilot*
.antigravity*
.vscode/
.venv/
node_modules/

.gitignore
web/*
~/.local*
.local/*
.vscode-server/*